<!doctype html>
<html ng-app="musicApp">
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="bower_components/ui-listView/dist/ui-listView.css"/>
      <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css"/>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-resource/angular-resource.min.js"></script>
      <script src="bower_components/ui-listView/dist/ui-listView.js"></script>
      <script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
      <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>
      <script src="music.js"></script>
      <link rel="stylesheet" href="music.css">
  </head>
  <body>
      
    <h2 align="center">Music Tracks</h2>
    <p align="center">[Click on the values, ratings to edit]</p>
    <div class="music-list panel panel-default" ng-controller="musicListController">
        <a href="genre.html">Update Genre page</a>
        <div class="search panel-heading">
            
            <input class="form-control" ng-model="search" placeholder="Search Track.." ng-keyup="$event.keyCode == 13 && searchTrack()"/>
                    </div>
<div class="music-list panel panel-default" ng-if="results.length">FOUND:
            <span ui-list-view="music in results" options="listOptions">
                <strong>{{music.title}} </strong>{{music.rating}} <ul><li ng-repeat="genre in music.genres">{{genre.name}}</li></ul>
            </span></div>

<br />
        <div class="ui-list-view-striped panel-body" ui-list-view="music in musics | startFrom:currentPage*pageSize | limitTo:pageSize" options="listOptions">
            <p class="name" > 
                <span  editable-text="music.title">{{music.title}}</span>  
               <span ng-mouseover="btnG"></span><span ng-if="music.genres.length">[ </span><i  ng-repeat="genre in music.genres">{{genre.name}}<span ng-class="{'last':$last}"> | </span></i> <span ng-if="music.genres.length">] </span>
                <button class="btn btn-primary" ng-click="genreSelect = ! genreSelect">Add Genres<span class="glyphicon glyphicon-pencil"></span></button>

                <span editable-select="music.rating" e-ng-options="rating for rating in ratings" > <span class="rating" ><span ng-repeat="i in getNumber(music.rating) track by $index"><img id="i" src="star.jpg" width="20px" height="20px"></span><span ng-repeat="i in getRemain(music.rating) track by $index"><img id="i" src="star_white.png" width="20px" height="20px"></span></span></span>
                <span ng-show="genreSelect">  
                    <select ng-model="uGenre" ng-options="product as product.name for product in genreList">           
                    </select>
                    <input type="button" ng-click="updateGenre(uGenre)" size="30" value="Add">
                    <span ng-if="updatedGenre.length">Updated Genres: <span ng-repeat="genre in selectedValues"> <strong>{{genre}}</strong>  </span></span>
                </span>     
                
                <button ng-click="update($index+(currentPage*pageSize))" class="btn btn-primary update">Update All Details</button>
            </p>
        </div>
        <br/>
        <div class="paginate">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button align="center" class="btn btn-primary" ng-disabled="currentPage >= musics.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button></div>
        <br/>
        <form class="add" ng-submit="addmusic()">
            <label></label><input class="btn btn-primary" type="button" ng-toggle="" value="Add Track" ng-click="showDetails = ! showDetails"/>
            <div ng-show="showDetails">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-headphones"></span></span>
                    <input type="text" class="form-control" placeholder="Add track name here" aria-describedby="basic-addon1" ng-model="musicTrack" size="30">
                </div>

            <select class="form-control" ng-model="musicRating" ng-options="rating for rating in ratings">           
            </select>
            <select class="form-control" ng-model="musicGenre" ng-options="product as product.name for product in genreList">           
            </select>
            <button class="btn btn-primary" ng-click="addGenre()"  type="button"> Add Genre</button>
                <br/>
                Genres Added:<span ng-if="selectedGenre.length"> <strong><span ng-repeat="genre in selectedValues"> {{genre}} </strong> </span></span>
<br/>
            <input class="btn btn-primary" type="submit" value="Add Track">
          
        </div>
        </form>
    </div>
  </body>
</html>